/* Estilos personalizados */
.header {
  background-color: #072146; /* Color de fondo del header */
  color: #ffffff; /* Color del texto */
  padding: 20px 10px; /* Espaciado interior: 20px arriba/abajo, 10px izquierda/derecha */
  position: relative; /* Posición relativa para alinear elementos absolutos */
    font-size: 17px; /* Tamaño del icono */
text-align: center;
  height: 90px; /* Altura deseada para el header */

}


.header * {
  color: inherit; /* Hereda el color blanco para todos los elementos dentro de .header */

}

 .logo {
      font-size: 24px; /* Tamaño de fuente del logo */
      font-weight: bold; /* Negrita para el logo */
      color: #ffffff; /* Color del texto del logo */
      padding: 5.28px  5.28px; 

  /* Estilos para pantallas grandes */
  width: 40%; /* Ancho máximo en pantallas grandes */
  max-width: 300px; /* Máximo ancho permitido */
  margin: 0 auto; /* Centrado horizontal */
}



.menu_header {
  text-align: center; /* Centra los elementos del menú */

}

.menu_header ul {
  list-style: none; /* Elimina los estilos de lista (viñetas, márgenes) */
  padding: 0;
}

.menu_header ul li {
  display: inline-block; /* Muestra los elementos del menú en línea */
  margin-right: 20px; /* Espacio entre elementos del menú */
}

.menu_header ul li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento del menú */
}

.menu_header ul li a {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #626262; /* Color de texto inicial */
  /*font-weight: bold; /* Pone el texto en negrita */
  transition: color 0.3s; /* Transición suave para el cambio de color */
}

.menu_header ul li a:hover,
.menu_header ul li a.active {
  color: #ffffff; /* Cambia el color del texto al pasar el mouse o cuando está activo */
}

.menu_header ul li.Obten_tu_Asesoria a {
  color: #FFD700; /* Establece el color amarillo para el enlace "Abre tu cuenta" */
}

.menu_header ul li.Obten_tu_Asesoria a:hover {
  color: #ffffff; /* Cambia el color del texto a blanco al pasar el mouse para el enlace "Abre tu cuenta" */
}

.menu_header ul li.btn_Iniciar_sesion button {
  background-color: #028484;
  color: #ffffff;
  border: none;
  padding: 12px 28px; 
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1; /* Asegura que el texto esté encima del pseudo-elemento */
}

.menu_header ul li.btn_Iniciar_sesion button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 200%; /* Inicialmente fuera del botón hacia la derecha */
  width: 200%; /* Asegura que cubra completamente el botón con la inclinación */
  height: 200%;
  background-color: #02a5a5;
  transform: skewX(-20deg); /* Inclina el pseudo-elemento */
  transform-origin: right; /* Ajusta el origen de la transformación para cubrir mejor */
  transition: right 0.9s ease-out; /* Transición para el movimiento de derecha a izquierda */
  z-index: -1; /* Coloca el pseudo-elemento detrás del botón */
}

.menu_header ul li.btn_Iniciar_sesion button:hover::before {
  right: 0; /* Movimiento hacia la izquierda para cubrir el botón */
}



.search-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.search-button i {
  font-size: 18px; /* Tamaño del icono */
  color: #ffffff; /* Color del icono */
}

.search-button:hover i {
  color: #ffffff; /* Cambio de color al pasar el mouse */
}

/* Estilos para la caja de búsqueda */
.search-box {
  display: none; /* Ocultar por defecto */
  background-color: #f8f9fa; /* Fondo de la caja de búsqueda */
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 0; /* Se ajustará dinámicamente con JavaScript */
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-box input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
}

.search-box button {
  padding: 10px 20px;
  background-color: #004481; /* Color del botón cerrar */
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #004481; /* Color_hover del botón cerrar */
}

.input_search {
  font-size: 20px;
  color: #ffffff;
  background-color: #004481; /* Color del contenedor */
  padding: 0 30px; /* Ajusta el padding según tus necesidades */
  height: 50px; /* Ajusta la altura del contenedor según tus necesidades */
  display: flex; /* Usar flexbox */
  align-items: center; /* Centrar verticalmente */
  justify-content: space-between; /* Espacio entre elementos */
  text-align: center;
}



.input_search input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  background-color: transparent; 
  font-size: 16px;
  color: #ffffff;
  border: none; 
  outline: none; 
}

.input_search input[type="text"]::placeholder {
  color: #ffffff; 
  opacity: 0.7; 
  font-size: 16px; 
}

 .close-button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  padding: 10px; 
  margin-left: 10px; 
}

.services {
  vertical-align: middle; /* Centra verticalmente con respecto al elemento adyacente */
  line-height: 0; /* Ajusta la altura de línea para centrar perfectamente */
}

.services i.fas.fa-bars {
  font-size: 20px; /* Tamaño del icono */
  vertical-align: middle; /* Centra verticalmente con respecto al texto */
  padding-left: 5px; /* Espaciado a la izquierda para separar el ícono del texto */
}

